.container {
    display: flex;
    justify-content: center;
}

.left-pie {
    width: 100px;
    height: 200px;
    border-bottom-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: blue;
}

.right-pie {
    width: 100px;
    height: 200px;
    border-bottom-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: red;
}